<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Paragraphs - Bootstrap Showcase</title>
</head>

<body>
    <main class="w-100 d-flex">
        <div class="w-25 min-vh-100 border-end scrollbar overflow-auto bg-light">
            <h1 class="p-3"><a class="text-decoration-none" href="../../index.html">Bootstrap Showcase</a></h1>

            <div class="px-3">
                <div class="">
                    <button class="btn w-100 border-0 text-start btn-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#item1">
                        Texts
                    </button>
                    <div class="collapse" id="item1">
                        <a href="../texts/headers.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Headers</a>
                        <a href="../texts/texts-basics.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Text Basics</a>
                        <a href="../texts/color.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Colors</a>
                    </div>
                </div>
                <div class="">
                    <button class="btn w-100 border-0 text-start btn-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#item2">
                        Layout
                    </button>
                    <div class="collapse" id="item2">
                        <a href="./container.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Container</a>
                        <a href="./grid.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Grid</a>
                        <a href="./columns.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Columns</a>
                        <a href="./gutters.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Gutters</a>
                        <a href="./css-grid.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">CSS Grid</a>
                    </div>
                </div>
                <div class="">
                    <button class="btn w-100 border-0 text-start btn-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#item3">
                        Content
                    </button>
                    <div class="collapse" id="item3">
                        <a href="../content/images.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Images</a>
                        <a href="../content/figures.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Figures</a>
                        <a href="../content/tables.html"
                            class="py-2 ps-3 link-secondary list-group-item list-group-item-action">Tables</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Start -->
        <div class="d-flex flex-column w-100">
            <div class="w-100 p-3 border-bottom d-flex align-items-center justify-content-between">
                <div>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                </div>
                <div class="input-group input-group-sm w-50">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="container">
                <div class="p-3">
                    <p class="text-primary h1">Gutters</p>
                    <p class="text-secondary">Gutters are padding inbetween columns, used to space and align content</p>
                    <!-- Gutters 1 -->
                    <div class="border-bottom mb-4">
                        <p class="text-primary h4 mb-3">Horizontal Gutters</p>
                        <div class="container border border-info p-3">
                            <div class="container mb-1 text-center">
                                <div class="container overflow-hidden">
                                    <div class="row gx-5 bg-black p-2">
                                        <div class="col">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-dark">
                                <p class="p-2 h6 text-info border-bottom">Code:</p>
                                <pre class="px-3">
                                    <code class="d-flex justify-content:-center align-items-start flex-column">
                                        <span class="text-white"><span class="text-warning">&lt;div class="container overflow-hidden"&gt;<span class="text-white ms-3">
    <span class="text-warning">&lt;div class="row gx-5 bg-black p-2"&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
    <span  class="text-warning">&lt;/div&gt;</span>
<span class="text-warning">&lt;/div&gt;</span></span>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- Gutters 2 -->
                    <div class="border-bottom mb-4">
                        <p class="text-primary h4 mb-3">Vertical Gutters</p>
                        <div class="container border border-info p-3">
                            <div class="container mb-1 text-center">
                                <div class="container overflow-hidden">
                                    <div class="row gy-5 bg-black p-2">
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-dark">
                                <p class="p-2 h6 text-info border-bottom">Code:</p>
                                <pre class="px-3">
                                    <code class="d-flex justify-content:-center align-items-start flex-column">
                                        <span class="text-white"><span class="text-warning">&lt;div class="container overflow-hidden"&gt;<span class="text-white ms-3">
    <span class="text-warning">&lt;div class="row gy-5 bg-black p-2"&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
    <span  class="text-warning">&lt;/div&gt;</span>
<span class="text-warning">&lt;/div&gt;</span></span>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- Gutters 3 -->
                    <div class="border-bottom mb-4">
                        <p class="text-primary h4 mb-3">Horizontal and Vertical Gutters</p>
                        <div class="container border border-info p-3">
                            <div class="container mb-1 text-center">
                                <div class="container overflow-hidden">
                                    <div class="row g-2 bg-black p-2">
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-3 border bg-light">Custom column padding</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-dark">
                                <p class="p-2 h6 text-info border-bottom">Code:</p>
                                <pre class="px-3">
                                    <code class="d-flex justify-content:-center align-items-start flex-column">
                                        <span class="text-white"><span class="text-warning">&lt;div class="container overflow-hidden"&gt;<span class="text-white ms-3">
    <span class="text-warning">&lt;div class="row g-2 bg-black p-2"&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col-6"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Custom column padding<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
    <span  class="text-warning">&lt;/div&gt;</span>
<span class="text-warning">&lt;/div&gt;</span></span>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- Gutters 4 -->
                    <div class="border-bottom mb-4">
                        <p class="text-primary h4 mb-3">Row Columns Gutters</p>
                        <div class="container border border-info p-3">
                            <div class="container mb-1 text-center">
                                <div class="container overflow-hidden">
                                    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 bg-black p-2">
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                        <div class="col">
                                            <div class="p-3 border bg-light">Row Column</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-dark">
                                <p class="p-2 h6 text-info border-bottom">Code:</p>
                                <pre class="px-3">
                                    <code class="d-flex justify-content:-center align-items-start flex-column">
                                        <span class="text-white"><span class="text-warning">&lt;div class="container overflow-hidden"&gt;<span class="text-white ms-3">
    <span class="text-warning">&lt;div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 bg-black p-2"&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col"&gt;</span>
            <span class="line text-white"><span class="text-warning">&lt;div class="p-3 border bg-light"&gt;</span>Row Column<span class="text-warning">&lt;/div&gt;</span></span>
        <span  class="text-warning">&lt;/div&gt;</span>
    <span  class="text-warning">&lt;/div&gt;</span>
<span class="text-warning">&lt;/div&gt;</span></span>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- Gutters 5 -->
                    <div class="border-bottom mb-4">
                        <p class="text-primary h4 mb-3">No Gutters</p>
                        <div class="container border border-info p-3">
                            <div class="container mb-1 text-center">
                                <div class="container">
                                    <div class="row g-0 bg-black p-2">
                                        <div class="col-sm-6 col-md-8 border bg-light p-2">
                                            .col-sm-6 .col-md-8
                                        </div>
                                        <div class="col-6 col-md-4 border bg-light p-2">
                                            .col-6 .col-md-4
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-dark">
                                <p class="p-2 h6 text-info border-bottom">Code:</p>
                                <pre class="px-3">
                                    <code class="d-flex justify-content:-center align-items-start flex-column">
                                        <span class="text-white"><span class="text-warning">&lt;div class="container"&gt;<span class="text-white ms-3">
    <span class="text-warning">&lt;div class="row g-0"&gt;</span>
        <span class="text-warning">&lt;div class="col-sm-6 col-md-8"&gt;</span><span class="line text-white">.col-sm-6 .col-md-8</span><span  class="text-warning">&lt;/div&gt;</span>
        <span class="text-warning">&lt;div class="col-6 col-md-4"&gt;</span><span class="line text-white">.col-6 .col-md-4</span><span  class="text-warning">&lt;/div&gt;</span>
    <span  class="text-warning">&lt;/div&gt;</span>
<span class="text-warning">&lt;/div&gt;</span></span>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>